@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor-primaria: #e47929;
    --cor-secundaria: #f3e6d4;
    --cor-terciaria: #544b3d;
    --cor-texto: #0C090D;

    --fonte-primaria: 'Inter', sans-serif;
    --fonte-secundaria: 'Crete Round', serif;
    --fonte-teste1:  'Inter', sans-serif;
    --fonte-teste2:'Montserrat', sans-serif;
}
body{
    font-size: 100%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: var(--cor-texto);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #EB9A5C;
    padding: 1% 0% 1% 5%;
    align-items: center;
    justify-content: space-around;
}

.cabecalho_menu{
    display: flex;
}

.cabecalho_menu li{
    display: inline-block;
    margin-right: 25px;
    padding: 10px;
    border-radius: 10px;
    transition: 1s all;
}

.cabecalho_menu li:hover{
    background-color: var(--cor-secundaria);
 }

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-texto);
    text-decoration: none;
}

