@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@500&family=Roboto+Slab:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --fonte-primaria: 'Roboto Slab', serif;
    --fonte-secundaria: 'Bitter', serif;
    --fonte-teste1:  'Roboto Slab', serif;
    --fonte-teste2: 'Bitter', serif;
}

body{
    font-size: 100%;
    background: rgb(255,220,177);
    background: linear-gradient(90deg, rgba(255,220,177,1) 0%, rgba(127,184,197,1) 100%);
    color: var(--cor-texto);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    /*background-color: #E5D5B5;*/
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 0.4px solid black;
}

.cabecalho_menu{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    padding: 14px;
}

.cabecalho_menu li{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: 1s all;
}

.cabecalho_menu li:hover{
    background: #64AAB9;
    
 }

.cabecalho_menu_link{
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}

.apresentacao{
    margin-bottom: 45px; 
}

.apresentacao_principal{
   display: flex;
   height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.apresentacao_principal_escrito{
    display:flex;
    flex-direction: column;
    gap: 32px;

}

.apresentacao_principal_titulo{
    font-family: var(--fonte-primaria);
    font-weight: 600;
    font-size: 32px;
}

.apresentacao_principal_texto{
    font-family: var(--fonte-secundaria);
    font-weight: 500;
    font-size: 28px;
}

.apresentacao__img{
    height: 300px;
    width: 350px;
}

.apresentacao_secundaria{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    margin-top: 48px;
}

.apresentacao_secundaria-título{
    border-top: 0.4px solid black;
    padding-top: 48px;
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 16px;
}

.apresentacao_secundaria-paragrafo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 26px;
}

.rodape{
    border-top: 0.4px solid black;
    padding: 32px;
}
.imagem_fundo{
    height: 100px;
    display: block;
    margin: 0 auto;
}


.btn-grad {
    width: 40%;
    background-image: linear-gradient(to right, #7fb8c5 0%, #EAECC6  51%, #7fb8c5  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: black;  
    font-family: var(--fonte-primaria);
    font-size: 15px;
    box-shadow: 0 0 20px #eee;
    border-radius: 25px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: black;
    text-decoration: none;
  }