@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --cor-primaria: #e47929;
    --cor-secundaria: #f3e6d4;
    --cor-terciaria: #544b3d;
    --cor-texto: #0C090D;

    --fonte-primaria: 'Inter', sans-serif;
    --fonte-secundaria: 'Crete Round', serif;
    --fonte-teste1:  'Inter', sans-serif;
    --fonte-teste2:'Montserrat', sans-serif;
}
body{
    font-size: 100%;
    background-image: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
    color: var(--cor-texto);
}
.cabecalho{
    display: flex;
    flex-direction: row;
    background-color: #EB9A5C;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho_menu{
    display: flex;
    flex-direction: row;
    font-weight: 100;
    padding: 14px;
}

.cabecalho_menu li{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    transition: 1s all;
}

.cabecalho_menu li:hover{
    background-color: var(--cor-secundaria);
 }

.cabecalho_menu_link{
    font-family: var(--fonte-secundaria);
    font-size: 22px;
    font-weight: 300;
    color: var(--cor-texto);
    text-decoration: none;
}

.apresentacao{
    margin-bottom: 45px;
}

.apresentacao_principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.apresentacao_principal_escrito{
    display:flex;
    flex-direction: column;
    gap: 32px;
}

.apresentacao_principal_titulo{
    font-family: var(--fonte-primaria);
    font-weight: 500;
    font-size: 32px;
}

.apresentacao_principal_texto{
    font-family: var(--fonte-secundaria);
}


.apresentacao__img{
    height: 350px;
    width: 350px;
}

